@for $i from 1 through 12 {
  .grid-#{$i} {
    display: grid;
    grid-template-columns: repeat($i,1fr);
  }
  .span-col-#{$i} {
    grid-column: span $i;
  }
}
@for $i from 0 through 3 {
    .gap-#{$i} {
        grid-gap: #{$i}em;
    }
}

@media screen and (max-width:950px){

  @for $i from 1 through 12 {
    .grid-md-#{$i} {
      display: grid;
      grid-template-columns: repeat($i,1fr);
    }
    .span-col-md-#{$i} {
      grid-column: span $i;
    }
  }
  @for $i from 0 through 3 {
      .gap-md-#{$i} {
          grid-gap: #{$i}em;
      }
  }

  @media screen and (max-width:794px){

    @for $i from 1 through 12 {
      .grid-sm-#{$i} {
        display: grid;
        grid-template-columns: repeat($i,1fr);
      }
      .span-col-sm-#{$i} {
        grid-column: span $i;
      }
    }
    @for $i from 0 through 3 {
        .gap-sm-#{$i} {
            grid-gap: #{$i}em;
        }
    }


  // section .grid-3 {
  //     grid-template-columns: repeat(2,1fr);
  // }
  //
  // .span-col-3 {
  //     grid-column: span 2!important;
  // }
}
